@import url('refinery/application.css');
/*  
  Override default refinery application CSS below. 
  Formatting applies to all frontend.
*/

html
{
	height:100%;
}

body
{
	font-family: "facitweb-1","facitweb-2",sans-serif;
	margin:0;
	padding:0;
	background:url("../images/body.png") #1c1c1c repeat-x;
	height:100%;
	color:#9b9a9a;
	font-size:13px;
	line-height:1.3;
}

h1, h2, h3, h4, .blurb
{
	font-family:Baskerville, Serif;
	font-weight:normal;
	margin:0 0 9px 0;
}

h1
{
	font-size:32px;
	color:#e3e3e3;
}

h2
{
	font-size:28px;
	color:#c6c6c6;
}

h3
{
	font-size:24px;
	color:#c6c6c6;
}

h4
{
	font-size:18px;
	color:#e3e3e3;
}

pre
{
	border:1px dotted #6f6e6e;
	background:#000;
	padding:5px;
	overflow:auto;
}

hr
{
	color:#2c2c2c;
}

p
{
	font-family:Arial;
	font-size:13px;
	line-height:1.4;
}

.highlight, b, strong
{
	color:#e3e3e3;
}

a
{
	color:#12a1ff;
	text-decoration:none;
}

textarea
{
	font-family:Arial;
	font-size:12px;
}

a:hover
{
	text-decoration:underline;
}

#page_container
{
	width:972px;
	margin:0 auto;
	position:relative;	
}

#page
{
	width:702px;
	margin-left:263px;
	background:url('../images/main_bg.png') repeat-y;
	padding:0 0 0 17px;
}

#body
{
	padding:18px;
}

#body_content_left
{
	padding-right:40px;
	width:400px;
}

#body_content_right
{
	width:179px;
	padding-left:18px;
}

.corner
{
	position:absolute;
	top:-1px;
	left:136px;
}

#footer
{
	background:url('../images/footer.png');
	height:108px;
	position:relative;
	left:-17px;
	padding-left:35px;
	width:684px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(150,150,150,0) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	margin-top:-30px;
}

/*
header
*/
img.logo
{
	position:absolute;
	left:0px;
	top:18px;
}

/*
Navigation
*/

nav#menu
{
	position:absolute;
	left:8px;
	top:200px;
	z-index:1;
}

nav#menu ul li
{
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.3) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	font-weight:300;
	list-style-type:none;
	font-size:24px;
	margin:5px 0;
	letter-spacing:2px;
	background:url("../images/nav.png");
}

nav#menu ul li.selected
{
	background:url("../images/selected.png");
}

nav#menu ul li a
{
	width:192px;
	height:36px;
	display:inline-block;
	padding:5px 15px;
	color:#000;
}

/*
 Home 
*/
.blurb
{
	font-size:24px;
	color:#6f6e6e;
	font-weight:300;
	margin:0 0 30px 0;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(150,150,150,0) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	line-height:1.2;
}

.latest_post
{
	width:400px;
	border-bottom:1px solid #2c2c2c;
	padding:0 0 18px 0;
}

.latest_post P
{
	margin:5px 0;
	font-size:13px;
}

time, aside
{
	font-size:12px;
	color:#6f6e6e;
	position:relative;
}

aside a
{
	color:#ccc;
	text-decoration:underline;
}

.latest_post h3
{
	margin-bottom:0;
	font-weight:normal;
	font-size:22px;
}

.latest_post h2, .latest_project h2
{
	margin:0;
	font-weight:normal;
	font-size:28px;
}

.latest_project h2
{
	margin-bottom:9px;
}

.latest_project
{
	padding:18px 0;
	border-top:1px solid #424242;
	width:400px;
}

.latest_project h3
{
	line-height:1;
}

.latest_project img
{
	float:left;
	border:1px solid #141414;
	margin-right:18px;
	padding:4px;
	background:#fff;
	opacity:.7;
}

.latest_project img:hover
{
	opacity:1;
}

ul.recent, ul#blog_posts, #blog_archive_list ul
{
	margin:0;
	padding:0;
}

ul.recent li, ul#blog_posts li, #blog_archive_list ul li
{
	padding:7px 0;
	font-size:13px;
	list-style:none;
	border-bottom:1px solid #2c2c2c;
	border-top:1px solid #424242;
}

ul.recent li:first-child, ul#blog_posts li:first-child, #blog_archive_list ul li:first-child
{
	border-top:none;
}

ul.recent li:last-child, ul#blog_posts li:last-child, #blog_archive_list ul li:last-child
{
	border-bottom:none;
}

.facebook, .twitter, .linkedin
{
	width:50px;
	height:50px;
	display:inline-block;
}

.facebook
{
	background:url('/images/facebook.png');
}

.twitter
{
	background:url('/images/twitter.png');
}

.linkedin
{
	background:url('/images/linkedin.png');
}

.facebook:hover, .twitter:hover, .linkedin:hover
{
	background-position:0 -50px;
}

/* Portfolio */

ul#portfolios
{
	list-style:none;
	margin:0;
	padding:0;
}

ul#portfolios li
{
	border-bottom:1px solid #2c2c2c;
	padding:18px 5px;
	display:inline-block;
	border-top:1px solid #424242;
	width:400px;
}

ul#portfolios li h3
{
	line-height:1.1;
}

ul#portfolios li img
{
	border:1px solid #141414;
	margin:0 18px 5px 0;
	padding:4px;
	background:#fff;
	float:left;
	opacity:.7;
}

ul#portfolios li img
{
	opacity:1;
}

ul#portfolios li:first-child
{
	border-top:none;
}

ul#portfolios li:last-child
{
	border-bottom:none;
}

.hide
{
	clear:left;
	display:none;
}

.hide p
{
	margin:5px 0;
}

.hide p:first-child
{
	margin-top:0;
}

/* Blog */
ul#categories
{
	list-style:none;
	padding:0;
}

#next_prev_article
{
	overflow:visible !important;
}

#next_prev_article a
{
	line-height:1.2 !important;
}

#comments
{
	padding-top:15px;
}

table td
{
	vertical-align:top;
}

/* Contact */
.inquiries form .actions
{
	margin:0;
}

.inquiries form .field  input
{
	height:20px;
}

.inquiries form .field, .inquiries form .actions
{
	clear:left;
}

.inquiries form .field input, .inquiries form textarea 
{
	width:250px;
	background:#000;
	color:#ccc;
	border-top:1px solid #2a2a2a;
	border-left:1px solid #2a2a2a;
	border-right:1px solid #3c3c3c;
	border-bottom:1px solid #3c3c3c;
}

label.error
{
	clear:left;
	color:#12A1FF;
	margin-bottom:10px;
	font-size:12px;
	width:250px;
}

.sent
{
	display:none;
	margin:10px 0;
	padding:5px;
	border:#62bd2b 2px solid;
	color:#306a0e;
	background:#a8f37b;
}

#comments input
{
	width:280px;
}

#comments input.submit
{
	width:150px;
}

/* Footer */
#footer p
{
	color:#666;
	padding:20px 40px 0 0;
	font-size:16px;
}